.tarjetas{
	margin-top: 5rem;
	margin-bottom: 5rem;
	overflow-x: hidden;
	margin-right: 1rem;
	margin-left: 1rem;

	padding:2rem;
}

.card-icon{
	color: map-get($color,terciary);
	font-size: 3rem;
	text-align: center;
	padding:0.5rem;
}