.tarjetas-container{
	margin: 4rem;
}
.tarjeta{
	margin:1rem;
	
	background-color:map-get($color,fondo);
	border-radius:5px;
	text-align: center;

	padding:2rem;
}

.tarjeta-body{
	justify-content: center;
}

.card-icon{
	color: map-get($color,terciary);
	font-size: 3rem;
	text-align: center;
	padding:0.5rem;
}