//PARA GRID

.contacto-img{
	grid-area: img;
	display: flex;
	width: 80%;
	height: auto;
	margin: auto;
	justify-content: center;
	
}

.contacto-formulario{
	grid-area: form;
	background-color: map-get($color,fondo);
	padding:4rem;
	border-radius:5rem;
	margin: 1.3rem;
}

//PARTES FORMULARIOS
.titulo-form{
	color: map-get($color,terciary);

}
.datos{
	.item{
		padding:0.4rem;

	}
}

.consulta{
	@extend .datos;
	margin-top: 0.3rem;
}

.comentarios{
	padding:0.3rem;
}